{% extends 'layout.njk' %}

{% block header %}

    <title>Gym Teachers</title>


{% endblock header %}

{% block content %}
<div class="teacher-card">
    <section class="avatar">
        
    </section>

    <section class="details">
        <h3>Detalhes</h3>

        <div class="infos">
            <div>Nome Completo</div>
            <div>João da Granja</div>
        </div>
        <div class="infos">
            <div>Idade</div>
            <div>99</div>
        </div>
        <div class="infos">
            <div>Grau de Escolaridade</div>
            <div>Especialista na sensualidade</div>
        </div>
        <div class="infos">
            <div>Tipo de Aula</div>
            <div>Telecinética</div>
        </div>
        <div class="infos">
            <div>Assunto</div>
            <div>
                <span>História das Bleibleids</span>
                <span>Religião Aboringine</span>
                <span>Truco III</span>
            </div>
        </div>
        <div class="infos">
            <div>Desde</div>
            <div>12/12/12</div>
        </div>

    </section>
</div>

{% endblock content %}

